@import "tailwindcss";
@plugin "daisyui" {
    themes: emerald --default, dracula --prefersdark;
};

:root {
    font-optical-sizing: auto;
}

@view-transition {
    navigation: auto;
}

@theme {
    --default-font-family: "Outfit", sans-serif;
}

@layer components {
    .styled-form {
        @apply flex flex-col gap-5
    }
    .styled-form .errorlist {
        @apply text-error
    }
    .styled-form > div {
        @apply flex flex-col
    }
    .styled-form div > label {
        @apply text-lg;
    }
    .styled-form div > input:not(.btn) {
        @apply input input-lg w-full;
    }
}
